<div class="container">

<div id="loginForm" class="row" ng-hide="busy">
  <div class="col-xs-12 text-center">
    <h1>Qui c'est ?</h1>
    <paper-button id="loginButton" raisedButton label="Connexion" ng-click="login('google')"></paper-button>
  </div>
</div>

<div ng-if="errorDialogOpened">
  <paper-dialog ng-opened="errorDialogOpened" heading="Erreur" transition="paper-dialog-transition-center">
    <p ng-show="!!error.message">{{error.message}}</p>
    <p>Code : {{error.code}}</p>
    <paper-button label="OK" affirmative autofocus></paper-button>
  </paper-dialog>
</div>

<div class="row" ng-show="busy">
  <div class="col-xs-12 text-center">
    <i class="fa fa-refresh fa-spin fa-4x"></i>
  </div>
</div>

<div class="row" ng-show="user.isLoggedIn">
  <div class="col-xs-12 text-center">
    <p>Hello, {{user.name}} :)</p>
  </div>
</div>

</div>
