<div class="row">
<div class="col-sm-12 col-md-8 col-md-offset-2">

  <div class="jumbotron">
    <div ng-show="user.isSignedIn">
      <span>Hello {{user.name}} :)</span>
    </div>
    <h1>Comment on l'appelle aujourd'hui ?</h1>
    <div ng-hide="user.isSignedIn">
      <button class="btn btn-primary btn-lg" ng-click="user.login()">Qui c'est ?</button>
      <div class="label label-danger" ng-show="!!user.errorMessage">Login impossible : {{user.errorMessage}}</div>
    </div>
    <form 
      ng-show="user.isSignedIn"
      ng-controller="NameSubmissionFormController as submission" 
      name="submission.form" 
      ng-submit="submission.submit(main.name, main.rating)">
      <div class="form-group" ng-class="{'has-error': submission.form.$invalid && submission.form.$dirty}">
        <input 
          type="text" 
          class="form-control input-lg" 
          placeholder="un petit nom ici"
          ng-model="submission.submission"
          required
          hg-parse-as-name-and-rating
          hg-name="main.name"
          hg-name-unique-among="main.names"
          hg-rating="main.rating">
        <div>
          <span class="label label-danger" ng-show="submission.form.$dirty && submission.form.$error.pattern">Que des lettres stp :)</span>
          <span class="label label-danger" ng-show="submission.form.$dirty && submission.form.$error.ratingMissing">Oublie pas le note à la fin :)</span>
          <span class="label label-danger" ng-show="submission.form.$dirty && submission.form.$error.unique">Il y est déjà celui là !</span>
        </div>
      </div>
      <button class="btn btn-primary btn-lg" ng-disabled="submission.form.$invalid">C'est parti !</button>
      <button class="btn btn-danger btn-lg" ng-click="user.logout()">J'ai fini !</button>
    </form>
  </div>

  <table class="table" id="table" ng-show="user.isSignedIn">
    <thead>
      <td>Prénom</td>
      <td>Proposé par</td>
      <td>Note</td>
    </thead>
    <tbody>
      <tr ng-repeat="name in main.names | orderByPriority | filter:{name: main.name}" ng-controller="SubmissionItemController as submission">
        <td>{{name.name}}</td>
        <td>{{name.submitter}}, <span am-time-ago="name.time"></span></td>
        <td>
          <rating readonly="submission.hasBeenRatedBy(name, user.name)" ng-model="submission.rating" state-off="'fa fa-star-o'" state-on="'fa fa-star'"></rating>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col-xs-4 col-xs-offset-4" ng-show="main.loading">
    <i class="fa fa-spinner fa-spin fa-4x"></i>
  </div>

</div>
</div>
