<div class="container">

<div class="row">
<div class="col-xs-12">

  <ul class="media-list">
    <li class="media">
      <form
        name="main.form"
        ng-submit="main.submit(main.name)">
        <div ng-class="{'has-error': main.form.$invalid && main.form.$dirty}">
          <div center horizontal layout>
          <input
            type="text"
            class="input-paper"
            placeholder="un petit nom ici"
            ng-model="main.name"
            required
            hg-unique-among="main.names"
            hg-unique-field="name">
            <paper-toggle-button ng-model="main.female"></paper-toggle-button>
          </div>
          <div>
            <span
              class="label label-danger"
              ng-show="main.form.$dirty && main.form.$error.unique">
              Il y est déjà celui là !
            </span>
          </div>
        </div>
      </form>
    </li>
  </ul>

</div>
</div>

<div class="row">
<div class="col-xs-12">

  <ul class="media-list" ui-sortable="main.sortableOptions" ng-model="main.ranking">
    <li
      class="media"
      ng-repeat="name in main.ranking | mapTo:main.names | anonymizeUsing:main.anonymizedSubmissions:main.demo">
      <div class="row">
        <div class="col-xs-2">
          <div ng-show="name.gender === 'female'" class="text-accent-dark">
            <span class="gender-disc female sortable-handle"></span>
          </div>
          <div ng-show="name.gender === 'male'" class="text-primary-dark">
            <span class="gender-disc male sortable-handle"></span>
          </div>
        </div>
        <div class="col-xs-10">
        <div class="media-body">
          <h4 class="media-heading">{{name.name}}</h4>
          <p>proposé par {{name.submitter}}, <span am-time-ago="name.time"></span></p>
        </div>
        </div>
      </div>
    </li>
  </ul>

</div>
</div>
</div>
