body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 222);
  background: #303f9f;
}

#loginForm h1 {
  font-weight: 200;
}

#loginButton {
  background: #ff4081;
}

.jumbotron {
  background: #3f51b5;
}

.jumbotron h1 {
  font-size: 54px;
  font-weight: 200;
}

paper-fab {
  background: #ff4081;
}

.vetoed {
  color: lightgrey;
}

.sortable-handle {
  cursor: pointer;
}

.text-accent {
  color: #ff4081;
}

.text-accent-dark {
  color: #f50057;
}

.text-primary-dark {
  color: #303f9f;
}

.gender-disc {
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 30px;
}

.gender-disc.female {
  background: #f50057;
}

.gender-disc.male {
  background: #303f9f;
}

.media {
  background: white;
  color: rgba(0, 0, 0, 222);
  padding: 10px;
  margin: 2px 0;
}

.input-paper {
  border: none;
  display: block;
  width: 90%;
  font-size: 120%;
}

.input-paper:focus {
  outline: 0;
}

paper-toggle-button::shadow paper-radio-button::shadow #ink {
  color: #f50057;
}

paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
  color: #303f9f;
}

paper-toggle-button::shadow paper-radio-button::shadow #offRadio {
  background-color: #303f9f;
  border-color: #303f9f;
}

paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
  background-color: #f50057;
}

paper-toggle-button::shadow #toggleBar {
  background-color: #303f9f;
}

paper-toggle-button::shadow #toggleBar[checked] {
  background-color: #f50057;
}
